.drawer_container {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 45px;
    width: 100vw;
    height: calc(100vh - 45px);
    background-color: black;
    
    display: none;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}

.pages {
    width: 35%;
    margin-top: 25px;
}

.pages div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.pages div a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--darker-purple);
    padding: 10px;
    width: 120px;
    border: 2px rgba(255, 255, 255, 0.2) solid;
    border-radius: 1.5rem;
    margin-top: 15px;
}

.mark {
    font-family: "Silkscreen", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.mark .image_container {
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    margin-right: 10px;
}

.mark a { 
    text-decoration: none;
    font-size: 20px;
    color: #3bf000;
    transition-duration: 250ms;
}

.mark a:hover {
    color: white;
}

