@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;

  /* Colour palet */
  --darkest-blue: #000318;
  --darker-blue: #050d49;
  --dark-blue: #00095e;
  --light-blue: #0014b7;
  --mid-purple:#3c2591;
  --text: white;
  --body-text: rgb(200, 200, 200);

  font-family: "Inter", sans-serif;
}

:root {
  color: white;
  background-color: black;
}



