.main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 100%;
}

.intro_container {
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 1.5rem;
}

.intro_container .left_container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 70px;
}

.intro_container .title {
    font-size: 110px;
    font-weight: 900;

    background: url("/header_background.png");
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: headerScroll 40s linear infinite;

}

.intro_container .sub_header {
    font-size: 60px;
    font-weight: 600;
}

.intro_container .sub_sub_header {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(50, 50, 50);
}


.intro_container .right_container {
    border-radius: 1.5rem;
    width: 45%;
    height: 72%;
    padding: 70px;
    background-color: rgb(34, 30, 104);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.intro_container .typing {
    background-color: rgb(255, 136, 0);
    color: white;
    width: 90%;
    padding: 20px;
    border-radius: 1.5rem;
}




.about_one_container {
    margin-top: 50px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 1.5rem;
}

.about_one_container .left_container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.about_one_container .orbit_container div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_one_container .ring {
    width: 250px;
    height: 250px;

    border: solid 2px rgb(34, 30, 104);
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;

    animation: clockwiseRotate 20s linear infinite;
}

.about_one_container .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.6em;
    height: 1.6em;

    margin: -1.6em;
}

.about_one_container .ring>*:nth-of-type(1) {
    transform: rotate(72deg) translate(125px) rotate(-72deg);
}

.about_one_container .ring>*:nth-of-type(2) {
    transform: rotate(144deg) translate(125px) rotate(-144deg);
}

.about_one_container .ring>*:nth-of-type(3) {
    transform: rotate(216deg) translate(125px) rotate(-216deg);
}

.about_one_container .ring>*:nth-of-type(4) {
    transform: rotate(288deg) translate(125px) rotate(-288deg);
}   

.about_one_container .ring>*:nth-of-type(5) {
    transform: rotate(360deg) translate(125px) rotate(-360deg);
}   

.about_one_container .center {
    z-index: 5;
    width: 55px;
    height: 55px;
    
    background: rgb(150, 150, 150);
    border: 1px black solid;
    border-radius: 9999px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about_one_container .icon div {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    font-size: 1.2em;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    text-align: center;
    display: block;

    animation: counterClockwiseRotate 20s linear infinite;
}

.about_one_container .orbit_container {
    position: relative;
}

.about_one_container .right_container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 70px;
}

.about_one_container .title {
    font-size: 70px;
    font-weight: 700;
}




@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counterClockwiseRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes headerScroll {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1360px;
    }
}