.main {
    position: relative;
    z-index: 1;
    width: 100%;
}

.main > * {
    z-index: 3;
}

.header_container .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse 50% 50% at 50% 0px, var(--darker-blue), rgba(255, 255, 255, 0));
    z-index: 2;
}

.header_container {
    width: 100%;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;


}

.header_container .container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

.header_container div {
    text-align: center;
}


.header_container .name {
    font-weight: 900;
    font-size: 50px;
}

.header_container .header {
    font-weight: 900;
    font-size: 90px;
}

.header_container .sub_header {
    font-weight: 300;
    font-size: 30px;
}

.header_container .link_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

.header_container .link {
    display: block;
    text-decoration: none;
    color: white;

    background-color: var(--mid-purple);

    width: 230px;
    height: 40px;
    padding: 5px;

    border-radius: 1rem;
    border: 2px rgba(255, 255, 255, 0.2) solid;

    font-size: 25px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
}

.header_container .link:hover {
    border: 2px rgba(255, 255, 255, 0.8) solid;
}

.info_container {
    overflow: hidden;
    position: relative;
}

.info_container .divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--light-blue) 12%, var(--mid-purple) 60%);
    opacity: 0.5;
    position: relative;
}

.info_container .left_glow {
    position: absolute;
    top: -255px;
    left: -10%;
    height: 250px;
    width: 60%;
    background: linear-gradient(180deg, #58a5ff, #a67af4);
    filter: blur(500px);
    z-index: 2;
}

.info_container .info {
    height: 500px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info_container .left {
    width: 40%;
    height: 75%;

    display: flex;
    flex-direction: column;

    justify-content: center;
}



.info_container .left .header {
    font-weight: 800;
    font-size: 60px;
}

.info_container .left .sub_header {
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info_container .left .body {
    font-weight: 300;
    font-size: 20px;

    text-align: left;
}

.info_container .right {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    mask-image: linear-gradient(90deg, transparent, #fff 90px, #fff calc(100% - 90px), transparent);

    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 90px, #fff calc(100% - 90px), transparent);
}

.info_container .slide {
    background-color: #0e0b33;
    border: 2px rgba(255, 255, 255, 0.2) solid;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    min-width: 250px;
    max-width: 250px;

    padding: 25px;
    border-radius: 2rem;

    z-index: 3;
}

.info_container .react {
    position: relative;
    width: 50%;
    aspect-ratio: 1200/1043;
}

.info_container .vue {
    position: relative;
    width: 50%;
    aspect-ratio: 1200/1040;
}

.info_container .angular {
    position: relative;
    width: 58%;
    aspect-ratio: 1/1;
}

.info_container .svelte {
    position: relative;
    width: 40%;
    aspect-ratio: 1200/1445;
}

.info_container .solid {
    position: relative;
    width: 50%;
    aspect-ratio: 663/647;
}




.info2_container {
    overflow: hidden;
    position: relative;
}

.info2_container .divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--light-blue) 12%, var(--mid-purple) 60%);
    opacity: 0.5;
    position: relative;
}

.info2_container .left_glow {
    position: absolute;
    top: -255px;
    left: 50%;
    height: 250px;
    width: 60%;
    background: linear-gradient(180deg, #58a5ff, #a67af4);
    filter: blur(500px);
    z-index: 2;
}

.info2_container .info2 {
    height: 500px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info2_container .right {
    width: 40%;
    height: 75%;

    display: flex;
    flex-direction: column;

    justify-content: center;
}



.info2_container .right .header {
    font-weight: 800;
    font-size: 60px;
}

.info2_container .right .sub_header {
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info2_container .right .body {
    font-weight: 300;
    font-size: 20px;

    text-align: left;
}

.info2_container .left {
    width: 40%;
    height: 75%;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.info2_container .left> * {
    z-index: 3;
}

.info2_container .left .effect_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.info2_container .left .card {
    background-color: #0e0b33;
    border: 2px rgba(255, 255, 255, 0.2) solid;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;
    width: 340px;

    border-radius: 2rem;
    position: absolute;
    overflow: hidden;
}

.info2_container .left .next {
    height: 100%;
    aspect-ratio: 1900/926;
    position: relative;
}

.info2_container .left .stripe {
    height: 100%;
    aspect-ratio: 1903/929;
    position: relative;
}

.info2_container .left .turbo {
    height: 100%;
    aspect-ratio: 1901/925;
    position: relative;
}
